{{>header}}
</head>
<body>
<div class="container">
    <main class="loginMain">
        <!--로그인섹션-->
        <section class="login">
            <!--로그인박스-->
            <article class="login__form__container">
                <!--로그인 폼-->
                <div class="login__form">
                    <!--로그인 인풋-->
                    <form class="login__input"  action="/auth/signin" method="POST">
                        <input type="text" name="username" placeholder="username" required="required" />
                        <input type="password" name="password" placeholder="password" required="required" />
                        <button>login</button>
                    </form>
                    <!--로그인 인풋end-->

                    <!-- 또는 -->
                    <div class="login__horizon">
                        <div class="br"></div>
                        <div class="or">or</div>
                        <div class="br"></div>
                    </div>
                    <!-- 또는end -->

<!--                    &lt;!&ndash; Oauth 소셜로그인 &ndash;&gt;-->
<!--                    <div class="login__facebook">-->
<!--                        <button onclick="javascript:location.href='/oauth2/authorization/facebook'">-->
<!--                            <i class="fab fa-facebook-square"></i>-->
<!--                            <span>Facebook으로 로그인</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Oauth 소셜로그인end &ndash;&gt;-->
<!--                </div>-->

                <!--계정이 없으신가요?-->
                <div class="login__register">
                    <span>You don't have an account?</span>
                    <a href="/auth/signup">sign up</a>
                </div>
                <!--계정이 없으신가요?end-->
            </article>
        </section>
    </main>

</div>
</body>
</html>